<!DOCTYPE html>
<html lang="tr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DermAI | Kayıt Ol</title>
    <link rel="stylesheet" th:href="@{/css/layer.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<section class="register-section">
    <div class="register-container">
        <div class="register-title">Kayıt Ol</div>

        <!-- Flash mesajlar -->
        <div class="alert error" th:if="${error}">
            <span th:text="${error}"></span>
        </div>
        <div class="alert success" th:if="${success}">
            <span th:text="${success}"></span>
        </div>

        <form class="register-form" method="post" th:action="@{/auth/register}" th:object="${registerRequest}">
            <div>
                <label for="fullName">Ad Soyad</label>
                <input id="fullName" maxlength="100" minlength="3" placeholder="En az 3 karakter" required
                       th:field="*{fullName}"
                       type="text"/>
                <div class="error-message" th:errors="*{fullName}" th:if="${#fields.hasErrors('fullName')}"></div>
            </div>

            <div>
                <label for="username">E-posta Adresiniz</label>
                <input id="username" placeholder="ornek@ornek.com" required th:field="*{username}" type="email"/>
                <div class="error-message" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></div>
            </div>

            <div>
                <label for="password">Şifre</label>
                <input id="password" minlength="6" placeholder="En az 6 karakter" required th:field="*{password}"
                       type="password"/>
                <div class="error-message" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></div>
            </div>

            <div>
                <label for="confirmPassword">Şifre (Tekrar)</label>
                <input id="confirmPassword" placeholder="Şifrenizi tekrar girin" required th:field="*{confirmPassword}"
                       type="password"/>
                <div class="error-message" th:errors="*{confirmPassword}"
                     th:if="${#fields.hasErrors('confirmPassword')}"></div>
            </div>

            <button class="register-btn" type="submit">Kayıt Ol</button>
        </form>
        <div class="register-links">
            Zaten hesabınız var mı?
            <a th:href="@{/auth/login}">Giriş Yap</a>
        </div>
    </div>
</section>

</body>

</html>
