<div th:fragment="navbar" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
     xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar">
        <div class="nav-logo">
            <span class="nav-glow">DERMAI</span>
        </div>
        <ul class="nav-links">
            <li><a th:href="@{/}">Anasayfa</a></li>
            <li><a th:href="@{/blog}">Blog</a></li>
            <li><a th:href="@{/skintypes}">Cilt Tipleri</a></li>
            <li><a th:href="@{/about}">Hakkında</a></li>

            <!-- Anonymous kullanıcılar -->
            <li sec:authorize="isAnonymous()"><a th:href="@{/auth/login}">Giriş Yap</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/auth/register}">Kayıt Ol</a></li>

            <!-- Authenticated kullanıcılar -->
            <li sec:authorize="isAuthenticated()"><a th:href="@{/user/profil}">Profil</a></li>
            <li sec:authorize="isAuthenticated()">
                <form id="logoutForm" method="post" sec:csrf="input" style="display: inline;"
                      th:action="@{/auth/logout}">
                    <button class="logout-link"
                            type="submit">
                        Çıkış Yap
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</div>
